In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read the dataset
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### 1.Create a Line Plot with x (‘total_bill’) versus y (‘tip’) using lineplot() function:

#### 2.Create a scatter plot with total_bill and tip

#### 3.Write a python code to create a hist plot on total_bill with bins=10.
- Create the following 
-Title as "Frequency of Bill Amount"
-xlabel as "Billed Amount"
-ylabel as "Count"

## 4.Write a python code to create a heatmap on tips dataset by showing the corelation between numeric attributes

#### 5.Write a python code to create a barplot on smoker and total_bill attribute

#### 6.Write a python code to use the countplot() function to show the count of smokers and non-smokers:

#### 7.Let’s write a python code to analyze how the tipped amount varies during lunch and dinner time and if there are any outliers in our data. Hint :(Boxplot)

#### 8.Let’s write a python code to create a pair plot to show the pair wise distribution of all attributes

In [ ]:
**********************************THE END*************************